@charset "utf-8";

a:link {
	color: blue;
}
a:visited {
	color: purple;
}
a:hover {
	color: green;
}
body {
	background-color: lightyellow;
}
.center {
	text-align: center;
}

h6{
	font-size: 7pt;
}
hr {
	margin-left: 200px;
	margin-right: 200px;
}